<div class="home-container">
  <div style="text-align: center" class="jumbotron main-image">


  <ng-container *ngIf="!isAuth()">
    <h1 class="home-title-header">Poznaj swoją drugą połówkę już dziś.</h1>
    <p class="home-title-paragraph">
      Po rejestracji możesz wypełnić quiz osobowości. Dzięki temu rozpoznasz które osoby, są do Ciebie dopasowane.
    </p>
    <br>
    <p>
      <a class="btn btn-primary btn-lg home-title-btn" (click)="goToRegister()">Chcę się zarejestrować i poznać nowe osoby</a>
    </p>
  </ng-container>

  <ng-container *ngIf="isUser()">
    <h1 class="home-title-header">Poznaj swoją drugą połówkę już dziś.</h1>
    <p class="home-title-paragraph">
      Przejdź do listy profili by poznać nowe osoby. Znajdziesz tam poziom dopasowania, który podpowie Ci w jakim stopniu osoba jest dopasowana do Ciebie.

      <br>
      <br>
      <a class="btn btn-primary btn-lg home-title-btn" style="width: 400px" (click)="goPersonsList()">Przejdź do listy profili</a>
    </p>
  </ng-container>

    <br>
    <br>
  <ng-container *ngIf="isUser()">
    <h1 class="home-title-header">Wypełnij lub zmodyfikuj swój test osobowości</h1>
    <p class="home-title-paragraph">
      Dzięki dobrze wypełnionemu testowi nie zawiedziesz się i odnajdziesz taką drugą połowę o której marzysz.

      <br>
      <br>
      <a class="btn btn-primary btn-lg home-title-btn" style="width: 400px" (click)="goToTest()">Przejdź do testu</a>
    </p>
  </ng-container>

  <ng-container *ngIf="isManager()" >
    <h1 class="home-title-header">Utwórz nowe wydarzenie dla singli w minutę!</h1>
    <p class="home-title-paragraph">
      Szybki i wygodny moduł tworzenia wydarzenia pozwoli Ci na błyskawiczną promocję Twojego wydarzenia.
    </p>
    <br>
    <p>
      <a class="btn btn-primary btn-lg home-title-btn" (click)="goEventCreate()">Chcę założyć nowe wydarzenie</a>
    </p>
  </ng-container>


  </div>

  <mat-tab-group class="home-description">
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-search fa-fw font-accent"></i><span class="font-white">Szukam drugiej połówki</span>
      </ng-template>
      <h1>W LoveMe znajduje się już {{usersCount}} aktywnych użytkowników</h1>
      <p>Dzięki temu otrzymasz wiele okazji do spotkania nowych osób. Prócz testu dopasowania otrzymasz możliwość zapisu na wiele wyselekcjonowanych wydarzeń dla singli. </p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-calendar fa-fw font-accent"></i> <span class="font-white">Organizuję wydarzenia dla singli</span>
      </ng-template>
      <h1>Udostępnij swoje wydarzenie wielu osobom</h1>
      <p>W LoveMe prócz możliwości promocji wydarzenia, możliwa jest rejestracja w roli organizatora wydarzenia. Otrzymasz w ten sposób możliwość promowania swoich wydarzeń i prowadzenia na nie zapisów.</p>
    </mat-tab>
  </mat-tab-group>
</div>


