.main-image{
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0px;
  padding-right: 0px;
}

.home-title-header{
  background-color: rgba(17, 17, 17, 0.42);
  color: #eee;
  margin-bottom: 0;
}

.home-title-paragraph{
  background-color: rgba(17, 17, 17, 0.42);
  color: #eee;
  padding-bottom: 10px;
}

.home-title-btn{
  background-color: #ca2a2a;
  border: 0px;
  color:#eee;
  border: #0e6f5c 1px;
}

.home-title-btn:hover{
  cursor: pointer;
}

.home-title-btn:hover{
  background-color: #982727;
}

.home-container{
  background-image: url(/assets/images/home2.jpg);
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
  background-position-y: center;
}

.home-description{
  padding-left: 15px;
  background-color: rgba(17, 17, 17, 0.42);
  color: #eee;
}
