<div class="persons-list-container">
  <!--naglowek-->
  <div class="row">
    <div class="col-md-12 persons-header-container">
      <h3>Lista osób wraz z wskaźnikiem dopasowania do Ciebie</h3>
    </div>
  </div>

  <!--szukajka-->
  <div class="row">
    <div class="col-md-12 persons-search-container">
      <span class="search-header">Filtry:</span>

      <mat-form-field class="filter-event-input">
        <mat-select [(value)]="filter.region" (change)="updateCities($event)" placeholder="Województwo">
          <mat-option>Dowolne</mat-option>
          <mat-option *ngFor="let region of regions" [value]="region"  >{{ region.regionName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-event-input">
        <mat-select [(value)]="filter.city" placeholder="Miasto">
          <mat-option>Dowolne</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city" >{{ city.cityName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="persons-search-input">
        <input type="number" min="18" max="100" [(ngModel)]="filter.ageFrom" matInput placeholder="Wiek od">
      </mat-form-field>
      <mat-form-field class="persons-search-input">
        <input type="number" min="18" max="100" [(ngModel)]="filter.ageTo" matInput placeholder="Wiek do">
      </mat-form-field >
      <button class="btn btn-success" (click)="resetToFirst()">
        <i class="fa fa-filter fa-fw"></i>
        Filtruj
      </button>
      <button class="btn btn-warning" data-toggle="modal" data-target="#filter-details">
        <i class="fa fa-sliders fa-fw"></i>
        Filtry zaawansowane
      </button>
      <button class="btn" (click)="clearSearch()">
        <i class="fa fa-eraser fa-fw"></i>
        Wyczyść filtry
      </button>


    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="filter-details" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filtry zaawansowane</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <mat-slide-toggle>
            Cecha
          </mat-slide-toggle>

          AKCJE:
          <button (click)="action1()"> ACTION 1 </button>
          <button (click)="action2()"> ACTION 2 </button>
          <button (click)="action3()"> ACTION 3 </button>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>


  <!--lista-->
  <div class="row">
    <div class="col-md-12 persons-table-container">
      <table class="table table-hover">
        <tbody class="profile-header">
          <tr *ngFor="let person of persons" class="profile-table-row" (click)="goToPersonDetails(person.id)">
            <td class="profile-column">
              <div class="profile-container">
                <div>
                  <b>{{person.firstname}}, {{person.age}}</b>
                </div>
                <div class="persons-img-column">
                  <img [src]="userPhotoUrl+person.profilePhotoId"  class="rounded-circle">
                </div>
                <div>
                  <b>{{person.city?.cityName}}</b>
                </div>
                <div>
                  {{person.city?.region?.regionName}}
                </div>
              </div>
            </td>
            <td class="about-person-content">
              <div class="person-detail-description">{{person.description}}</div>
              <div class="person-detail-row">
                <span class="person-detail-element">
                  <i class="fa fa-heart fa-fw"></i>
                  {{person.martialStatus?.description}}
                </span>
                <span class="person-detail-element">
                  <i class="fa fa-graduation-cap fa-fw"></i>
                  {{person.education?.description}}
                </span>
              </div>
            </td>
            <td class="peron-fit-column">
              <div *ngFor="let category of person.match">
                <mat-slider min="0" max="100" step="1" disabled="true" [value]="category.percentage"></mat-slider> <b>{{category.description}} ({{category.percentage}}%) </b>
              </div>
              <div *ngIf="person.match == null || person.match?.length == 0">Brak wskaźników dopasowania</div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="table-paginator-container">
    <app-custom-paginator (pageChange)="changePage($event)" [currentPage]="response.pageNo" [elementsCount]="response.elementsCount" [pageSize]="filter.pageSize"></app-custom-paginator>
  </div>


</div>


