.persons-list-container{
  width: 100%;
  height: 100%;
  padding: 5px;
}

.persons-header-container{
  text-align: center;
}

.persons-search-container{
  text-align: center;
}

.search-header{
  font-size: 25px;
  font-weight: bolder;
  padding-right: 20px;
}

.persons-search-input{
  padding-right: 17px;
  width: 170px;
}

.persons-table-container{
  width: 100%;
}

/*tabela*/
.profile-column{
  width: 10%;
  text-align: center;
}

.peron-fit-column{
  width: 30%;
  text-align: center;
}

.persons-img-column{
}
.persons-img-column img{
  width: 60px;
}

.person-detail-description{
  padding-left: 5px;
}

.person-detail-row{
  width: 100%;
  bottom: 0px;
  position: absolute;
}

.about-person-content{
  position: relative;
  width: 60%;
}

.person-detail-element{
  padding-left: 5px;
  padding-right: 60px;
}

.profile-header{
  border-bottom: 3px solid rgba(202, 42, 42, 1);
  border-top: 3px solid rgba(202, 42, 42, 1);
}

.profile-table-row{
  border-bottom: 2px solid rgba(202, 42, 42, 1);
}

.filter-input{
  margin: 10px;
}

.filter-event-input{
  width: 125px;
}

