<div class="persons-list-container">
  <!--naglowek-->
  <div class="row">
    <div class="col-md-12 persons-header-container">
      <h3>Lista osób wraz z wskaźnikiem dopasowania do Ciebie</h3>
    </div>
  </div>

  <!--szukajka-->
  <div class="row">
    <div class="col-md-12 persons-search-container">
      <span class="search-header">Filtry:</span>

      <mat-form-field class="filter-event-input">
        <mat-select [(value)]="filter.sex" placeholder="Płeć">
          <mat-option [value]="'M'">Mężczyzna</mat-option>
          <mat-option [value]="'K'">Kobieta</mat-option>
          <mat-option [value]="null">Dowolna</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-event-input">
        <mat-select [(value)]="filter.region" (change)="updateCities($event)" placeholder="Województwo">
          <mat-option>Dowolne</mat-option>
          <mat-option *ngFor="let region of regions" [value]="region"  >{{ region.regionName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-event-input">
        <mat-select [(value)]="filter.city" placeholder="Miasto">
          <mat-option>Dowolne</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city" >{{ city.cityName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="persons-search-input">
        <input type="number" min="18" max="100" [(ngModel)]="filter.ageFrom" matInput placeholder="Wiek od">
      </mat-form-field>
      <mat-form-field class="persons-search-input">
        <input type="number" min="18" max="100" [(ngModel)]="filter.ageTo" matInput placeholder="Wiek do">
      </mat-form-field >
      <button class="btn btn-success" (click)="resetToFirst()">
        <i class="fa fa-filter fa-fw"></i>
        Filtruj
      </button>
      <button class="btn btn-warning" data-toggle="modal" data-target="#filter-details">
        <i class="fa fa-sliders fa-fw"></i>
        Filtry zaawansowane
      </button>
      <button class="btn" (click)="clearSearch()">
        <i class="fa fa-eraser fa-fw"></i>
        Wyczyść filtry
      </button>


    </div>
  </div>

  <!--lista-->
  <div class="row">
    <div class="col-md-12 persons-table-container">
      <table class="table table-hover">
        <tbody class="profile-header">
          <tr *ngFor="let person of persons" class="profile-table-row" (click)="goToPersonDetails(person.id)">
            <td class="profile-column">
              <div class="profile-container">
                <div>
                  <b>{{person.firstname}}, {{person.age}}</b>
                </div>
                <div class="persons-img-column">
                  <img [src]="userPhotoUrl+person.id"  class="rounded-circle">
                </div>
                <div>
                  <b>{{person.city?.cityName}}</b>
                </div>
                <div>
                  {{person.city?.region?.regionName}}
                </div>
              </div>
            </td>
            <td class="about-person-content">
              <div class="person-detail-description">{{person.description | truncate:[500, '...']}}</div>
              <div class="person-detail-row">
                <span class="person-detail-element">
                  <i class="fa fa-heart fa-fw"></i>
                  {{person.martialStatus?.description}}
                </span>
                <span class="person-detail-element">
                  <i class="fa fa-graduation-cap fa-fw"></i>
                  {{person.education?.description}}
                </span>
                <span class="person-detail-element">
                  <i class="fa fa-briefcase fa-fw"></i>
                  {{person.profession}}
                </span>
              </div>
            </td>
            <td class="peron-fit-column">
              <div *ngFor="let category of person.match">
                <mat-slider min="0" max="100" step="1" disabled="true" [value]="category.percentage"></mat-slider> <b>{{category.description}} ({{category.percentage}}%) </b>
              </div>
              <div *ngIf="person.match == null || person.match?.length == 0">Brak wskaźników dopasowania</div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="table-paginator-container">
    <app-custom-paginator (pageChange)="changePage($event)" [currentPage]="response.pageNo" [elementsCount]="response.elementsCount" [pageSize]="filter.pageSize"></app-custom-paginator>
  </div>


</div>

<!-- MODAL - FILTRY ZAAWANSOWANE-->
<div class="modal fade" id="filter-details" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document" style="max-width: 1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtry zaawansowane</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">

          <div class="col-md-3">

            <!--martialStatus-->
            <mat-form-field class="filter-input">
              <mat-select [(value)]="martialStatusActive" placeholder="Status związku" [compareWith]="compareSelected">
                <mat-option *ngFor="let martialStatus of dictionaryLists.martialStatusList" [value]="martialStatus">{{ martialStatus.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

            <!--education-->
            <mat-form-field class="filter-input">
              <mat-select [(value)]="educationActive" placeholder="Wykształcenie" [compareWith]="compareSelected">
                <mat-option *ngFor="let education of dictionaryLists.educationList" [value]="education">{{ education.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

            <!--kids-->
            <mat-form-field class="filter-input">
              <mat-select [(value)]="kidsActive" placeholder="Dzieci" [compareWith]="compareSelected">
                <mat-option *ngFor="let kids of dictionaryLists.kidsList" [value]="kids">{{ kids.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="col-md-3">

            <!--figure-->
            <mat-form-field class="filter-input">
              <mat-select [(value)]="figureActive" placeholder="Budowa ciała" [compareWith]="compareSelected">
                <mat-option *ngFor="let figure of dictionaryLists.figureList" [value]="figure">{{ figure.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>


            <!--hairColor-->
            <mat-form-field class="filter-input">
              <mat-select [(value)]="hairColorActive" placeholder="Kolor włosów" [compareWith]="compareSelected">
                <mat-option *ngFor="let hairColor of dictionaryLists.hairColorList" [value]="hairColor">{{ hairColor.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

            <!--eyeColor-->
            <mat-form-field class="filter-input">
              <mat-select [(value)]="eyeColorActive" placeholder="Kolor oczu" [compareWith]="compareSelected">
                <mat-option *ngFor="let eyeColor of dictionaryLists.eyeColorList" [value]="eyeColor">{{ eyeColor.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="col-md-3">

            <!--drinking-->
            <mat-form-field class="filter-input">
              <mat-select [(value)]="drinkingActive" placeholder="Alkohol" [compareWith]="compareSelected">
                <mat-option *ngFor="let drinking of dictionaryLists.drinkingList" [value]="drinking">{{ drinking.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

            <!--smoking-->
            <mat-form-field class="filter-input">
              <mat-select [(value)]="smokingActive" placeholder="Papierosy" [compareWith]="compareSelected">
                <mat-option *ngFor="let smoking of dictionaryLists.smokingList" [value]="smoking">{{ smoking.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div class="col-md-3">

            <!--religion-->
            <mat-form-field class="filter-input">
              <mat-select [(value)]="religionActive" placeholder="Religia" [compareWith]="compareSelected">
                <mat-option *ngFor="let religion of dictionaryLists.religionList" [value]="religion">{{ religion.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

            <!--zodiacSign-->
            <mat-form-field class="filter-input">
              <mat-select [(value)]="zodiacSignActive" placeholder="Znak zodiaku" [compareWith]="compareSelected">
                <mat-option *ngFor="let zodiacSign of dictionaryLists.zodiacSignList" [value]="zodiacSign">{{ zodiacSign.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

          </div>



        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


