<nav class="navbar navbar-default  navbar-fixed-top navbar-background">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="color: #f9f2f4; font-size: x-large" class="navbar-brand" [routerLink]="['/home']">
        LOVE<i class="fa fa-heart font-accent" aria-hidden="true"></i>ME
      </a>

    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="auth.isUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['persons-list']">
            <i class="fa fa-gears fa-icon-margin font-accent"></i> Lista osób
          </a>
        </li>

        <li *ngIf="auth.isUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['chat']">
            <i class="fa fa-gears fa-icon-margin font-accent"></i> Rozmowy
          </a>
        </li>

        <li *ngIf="auth.isUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['speed-dates-list']">
            <i class="fa fa-gears fa-icon-margin font-accent"></i> Szybkie randki
          </a>
        </li>

        <li *ngIf="auth.isManager()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['speed-dates-managment-list']">
            <i class="fa fa-gears fa-icon-margin font-accent"></i> Moje wydarzenia
          </a>
        </li>

        <li *ngIf="auth.isManager()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['speed-date-create']">
            <i class="fa fa-gears fa-icon-margin font-accent"></i> Stwórz wydarzenie
          </a>
        </li>






      </ul>

      <!--Prawa strona paska nawigacji-->
      <!-- ZALOGOWANY -->
      <ul class="nav navbar-nav pull-right">
        <li *ngIf="auth.username != null">
          <a [routerLink]="['account']" >
            <i class="fa fa-user-circle-o font-accent"></i> {{auth.username}}
          </a>
        </li>
        <li *ngIf="isAuth()">
          <a href="#" (click)="logout()" >
            <i class="fa fa-sign-out font-accent"  ></i>
            Logout
          </a>
        </li>
        <!-- ANONYMOUS -->
        <li *ngIf="!isAuth()">
          <a [routerLink]="['register']" >
            <i class="fa fa-user-circle-o font-accent"></i> Rejestracja
          </a>
        </li>
        <li *ngIf="!isAuth()">
          <a [routerLink]="['login']">
            <i class="fa fa-sign-in font-accent"></i>
            Log in
          </a>
        </li>
      </ul>
      <!--END: Prawa strona paska nawigacji-->

    </div>
