<nav class="navbar navbar-toggleable-md navbar-light bg-faded background-red nav-font-style">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand nav-logo-style" [routerLink]="['/home']">LOVE<i class="fa fa-heart font-accent"></i>ME</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" *ngIf="auth.isUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['persons-list']">
          <i class="fa fa-users fa-fw font-accent"></i> Osoby
        </a>
      </li>

      <li class="nav-item" *ngIf="auth.isUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['chat']">
          <span *ngIf="chatService.newMessageFlag">
            <i class="fa fa-envelope-o fa-fw font-accent fa-spin"></i>
          </span>
          <span *ngIf="!chatService.newMessageFlag">
            <i class="fa fa-weixin fa-fw font-accent"></i>
          </span>
          Rozmowy
        </a>
      </li>

      <li class="nav-item" *ngIf="auth.isUser()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['speed-dates-list']">
          <i class="fa fa-map fa-fw font-accent"></i> Wydarzenia
        </a>
      </li>

      <li class="nav-item" *ngIf="auth.isManager()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['speed-dates-managment-list']">
          <i class="fa fa-list fa-fw font-accent"></i> Moje wydarzenia
        </a>
      </li>

    </ul>

    <ul class="nav navbar-nav pull-right">
      <li class="nav-item" *ngIf="auth.username != null">
        <a class="nav-link" [routerLink]="['account']" >
          <i class="fa fa-user-circle-o fa-fw font-accent"></i> {{auth.username}}
        </a>
      </li>
      <li class="nav-item" *ngIf="isAuth()">
        <a class="nav-link" href="#" (click)="logout()" >
          <i class="fa fa-sign-out fa-fw font-accent"  ></i>
          Logout
        </a>
      </li>
      <!-- ANONYMOUS -->
      <li class="nav-item" *ngIf="!isAuth()">
        <a class="nav-link" [routerLink]="['register']" >
          <i class="fa fa-user-circle-o fa-fw font-accent"></i> Rejestracja
        </a>
      </li>
      <li class="nav-item" *ngIf="!isAuth()">
        <a class="nav-link" [routerLink]="['login']">
          <i class="fa fa-sign-in fa-fw font-accent"></i>
          Log in
        </a>
      </li>
    </ul>

  </div>
</nav>
