.photo-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-container img{
  width: 270px;
}

.photo-section{
  border: 1px solid #d2d2c1;
  padding: 10px;
  text-align: center;
}

.password-section{
  border: 1px solid #d2d2c1;
  padding: 10px;
}

.password-input{
  width: 47%;
}
