<div class="row">

  <!--LEWA KOLUMNA-->
  <div class="col-md-4">
    <div class="info-box" style="margin-top: 3px">
      <div><h4>Twoje dane</h4></div>
      <div>Login: {{myProfile?.username}}</div>
      <div>Imię: {{myProfile?.firstname}}</div>
      <div>Nazwisko: {{myProfile?.lastname}}</div>
      <div>E-mail: {{myProfile?.email}}</div>
      <div>Data urodzenia: {{myProfile?.birthDate | date:'dd-MM-yyyy'}}</div>
      <div>Płeć:
        <ng-container *ngIf="myProfile?.man == true">Mężczyzna</ng-container>
        <ng-container *ngIf="myProfile?.man ==false">Kobieta</ng-container>
      </div>
      <div>Data utworzenia konta: {{myProfile?.accountCreateDate | date:'dd-MM-yyyy' }}</div>
    </div>

    <div class="localization-box" *ngIf="authSrv.isUser()" style="margin-top: 10px;">
      <div><h4>Twoja lokalizacja</h4></div>

      <mat-form-field style="width: 48%">
        <mat-select [(value)]="activeRegion" (change)="updateCities($event)" placeholder="Województwo" [compareWith]="compareSelected">
          <mat-option *ngFor="let region of regions" [value]="region"  >{{ region.regionName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 50%">
        <mat-select [(value)]="activeCity"  placeholder="Miasto" [compareWith]="compareSelected">
          <mat-option *ngFor="let city of cities" [value]="city" >{{ city.cityName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button class="btn btn-secondary btn-block" (click)="validateAncChangeLocalization()">Zmień lokalizację</button>
    </div>


    <!--HASLO-->
    <div class="password-section" style="margin-top: 10px;">
      <h4>Zmiana hasła</h4>
      <mat-form-field class="password-input">
        <input matInput [(ngModel)]="oldPass" placeholder="Stare hasło" [type]="hideOld ? 'password' : 'text'">
        <mat-icon matSuffix >
          <span (click)="hideOld = !hideOld">
          <i *ngIf="hideOld" class="fa fa-eye" aria-hidden="true"></i>
          <i *ngIf="!hideOld" class="fa fa-eye-slash" aria-hidden="true"></i>
        </span>
        </mat-icon>
      </mat-form-field>

      <mat-form-field class="password-input" style="margin-left: 15px">
        <input matInput [(ngModel)]="newPass" placeholder="Nowe hasło" [type]="hideNew ? 'password' : 'text'">
        <mat-icon matSuffix >
          <span (click)="hideNew = !hideNew">
          <i *ngIf="hideNew" class="fa fa-eye" aria-hidden="true"></i>
          <i *ngIf="!hideNew" class="fa fa-eye-slash" aria-hidden="true"></i>
        </span>
        </mat-icon>
      </mat-form-field>

      <button class="btn btn-secondary btn-block" (click)="validateAndChangePassword()">Zmień hasło</button>

    </div>
    <!--END HASLO -->


  </div>
  <!--LEWA KOLUMNA END-->







  <!--CENTRUM KOLUMNA ------------------------------------------------------------->
  <div class="col-md-4">
    <div class="links-box">

      <div class="central-section-box" style="margin-top: 3px">
        <h4>Wydarzenia w których uczestniczę:</h4>
        <button class="btn btn-block btn-success" data-toggle="modal" data-target="#events-list">Otwórz listę</button>
      </div>


      <div class="central-section-box">
        <h4>Moje dane szczegółowe:</h4>
        <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#user-details">Otwórz ankietę z detalami</button>
      </div>


      <div class="central-section-box" style="min-height: 329px">
        <h4>Ankieta dopasowania:</h4>
        <span>Ankieta dopasowania składa się z 2 częśći. Pierwsza część określa Ciebie, w drugiej opisujesz swoje oczekiwania wobec drugiej połówki.</span>
        <br>
        <br>
        <h5>O mnie:</h5>
        <button class="btn btn-block btn-info">Otwórz część I</button>
        <br>

        <h5>O partnerze/partnerce:</h5>
        <button class="btn btn-block btn-info">Otwórz część II</button>
      </div>

    </div>
  </div>
  <!--CENTRUM KOLUMNA END---------------------------------------------------------->


  <!--PRAWA KOLUMNA-->
  <div class="col-md-4">

    <!--PHOTO SECTION-->
    <div class="photo-section" *ngIf="authSrv.isUser()" style="margin-top: 3px">
      <h3>Twoje zdjęcie profilowe</h3>
      <div class="photo-container" *ngIf="myProfile!=null">
        <img [src]="userPhotoUrl + myProfile.id" >
      </div>

      <div class="file-container" *ngIf="myProfile!=null">
        <div class="form-group">
          <label for="single">Modyfikacja: </label>
          <button (click)="fileInput.click()" class="btn btn-default btn-secondary">Upload</button>
          <button (click)="deleteImage()" class="btn btn-default btn-secondary">Wyczyść zdjęcie</button>
          <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                  <input #fileInput id="single" type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader"  />
                </span>
        </div>
        <div *ngFor="let item of uploader.queue">
          Plik: {{ item.file.name | truncate:[50, '...'] }} <br>
          Rozmiar: {{ item.file.size/1024/1024 | number:'.2' }} MB <br>

          <button type="button" class="btn btn-success btn-xs"
                  (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
            Załaduj!
          </button>
          <button type="button" class="btn btn-danger btn-xs"
                  (click)="item.remove()">
            Usuń
          </button>

          Stan procesu:
          <span *ngIf="item.isSuccess">OK</span>
          <span *ngIf="item.isCancel">---</span>
          <span *ngIf="item.isError">ERROR</span> <br> <br>
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
      </div>
    </div>
    <!--END PHOTO SECTION-->





  </div>
  <!--END PRAWA KOLUMNA-->



</div>


<!-- Modal listy eventów -->
<div #eventsListModal class="modal fade" id="events-list" tabindex="-1" role="dialog" >
  <div class="modal-dialog events-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventsListModal">Lista wydarzeń w których biorę udział</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr *ngFor="let event of eventsList" style="text-align: center">
              <td>{{event.title}}</td>
              <td>{{event.eventStart | date:'dd-MM-yyyy HH:mm'}}</td>
              <td>
                <ng-container *ngIf="event.enabled">
                  <button class="btn btn-secondary" (click)="goToEventDetails(event.id)">Przejdź do wydarzenia</button>
                </ng-container>
                <ng-container *ngIf="!event.enabled">
                  Wydarzenie jest obecnie nieaktywne.
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal detali usera -->
<div #userDetailsModal class="modal fade" id="user-details" tabindex="-1" role="dialog" >
  <div class="modal-dialog events-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userDetailsModal">Moje dane szczegółowe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">

          <!--1-->
          <div class="col-md-3 detail-column">

            <!--height number-->
            <mat-form-field class="detail-input" >
              <input [(ngModel)]="userDetails.height" type="number" min="1" max="250" matInput placeholder="Wzrost (cm)">
            </mat-form-field>

            <!--profession string-->
            <mat-form-field class="event-input">
              <input matInput [(ngModel)]="userDetails.profession" placeholder="Praca" maxlength="40">
            </mat-form-field>

            <!--education-->
            <mat-form-field>
              <mat-select [(value)]="educationActive" placeholder="Wykształcenie" [compareWith]="compareSelected">
                <mat-option *ngFor="let education of dictionaryLists.educationList" [value]="education">{{ education.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <!--2-->
          <div class="col-md-3 detail-column">

            <!--martialStatus-->
            <mat-form-field>
              <mat-select [(value)]="martialStatusActive" placeholder="Status związku" [compareWith]="compareSelected">
                <mat-option *ngFor="let martialStatus of dictionaryLists.martialStatusList" [value]="martialStatus">{{ martialStatus.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

            <!--kids-->
            <mat-form-field>
              <mat-select [(value)]="kidsActive" placeholder="Dzieci" [compareWith]="compareSelected">
                <mat-option *ngFor="let kids of dictionaryLists.kidsList" [value]="kids">{{ kids.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

            <!--religion-->
            <mat-form-field>
              <mat-select [(value)]="religionActive" placeholder="Religia" [compareWith]="compareSelected">
                <mat-option *ngFor="let religion of dictionaryLists.religionList" [value]="religion">{{ religion.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <!--3-->
          <div class="col-md-3 detail-column">

            <!--smoking-->
            <mat-form-field>
              <mat-select [(value)]="smokingActive" placeholder="Papierosy" [compareWith]="compareSelected">
                <mat-option *ngFor="let smoking of dictionaryLists.smokingList" [value]="smoking">{{ smoking.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

            <!--drinking-->
            <mat-form-field>
              <mat-select [(value)]="drinkingActive" placeholder="Alkohol" [compareWith]="compareSelected">
                <mat-option *ngFor="let drinking of dictionaryLists.drinkingList" [value]="drinking">{{ drinking.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

            <!--zodiacSign-->
            <mat-form-field>
              <mat-select [(value)]="zodiacSignActive" placeholder="Znak zodiaku" [compareWith]="compareSelected">
                <mat-option *ngFor="let zodiacSign of dictionaryLists.zodiacSignList" [value]="zodiacSign">{{ zodiacSign.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <!--4-->
          <div class="col-md-3 detail-column">

            <!--figure-->
            <mat-form-field>
              <mat-select [(value)]="figureActive" placeholder="Budowa ciała" [compareWith]="compareSelected">
                <mat-option *ngFor="let figure of dictionaryLists.figureList" [value]="figure">{{ figure.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>


            <!--hairColor-->
            <mat-form-field>
              <mat-select [(value)]="hairColorActive" placeholder="Kolor włosów" [compareWith]="compareSelected">
                <mat-option *ngFor="let hairColor of dictionaryLists.hairColorList" [value]="hairColor">{{ hairColor.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>

            <!--eyeColor-->
            <mat-form-field>
              <mat-select [(value)]="eyeColorActive" placeholder="Kolor oczu" [compareWith]="compareSelected">
                <mat-option *ngFor="let eyeColor of dictionaryLists.eyeColorList" [value]="eyeColor">{{ eyeColor.description }}</mat-option>
                <mat-option [value]="null">---</mat-option>
              </mat-select>
            </mat-form-field>


          </div>

          <div class="col-md-12">
            <!--description string-->
            <mat-form-field class="event-input" style="width: 100%;">
              <textarea matInput [(ngModel)]="userDetails.description" placeholder="Kilka słów o sobie" maxlength="3500"></textarea>
            </mat-form-field>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="validateAndSaveUserDetails()">Zapisz</button>
      </div>
    </div>
  </div>
</div>
