.photo-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-container img{
  width: 270px;
}

.photo-section{
  border: 1px solid #d2d2c1;
  padding: 10px;
  text-align: center;
}

.password-section{
  border: 1px solid #d2d2c1;
  padding: 10px;
}

.info-box{
  border: 1px solid #d2d2c1;
  padding: 10px;
}

.password-input{
  width: 47%;
}

.localization-box{
  border: 1px solid #d2d2c1;
  padding: 10px;
}

.links-box{

}

.central-section-box{
  border: 1px solid #d2d2c1;
  padding: 10px;
  margin-top: 10px;
  min-height: 107px;
}

.events-modal{
  max-width: 100vw;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.detail-column{
  padding: 10px;
}

.link-btn{
  height: 75px;
  cursor: pointer;
}

.btn-hover{
  cursor: pointer;
}

.input-box{
  font-size:40px;
}

.input-box input {
  width: 20px;
  height: 20px;
}

.category-box{
  font-weight: bold;
  font-size: larger;
}

.table-header-custom{
  width: 130px;
  text-align: center;
  font-size: larger;
}

.subtitle{
  font-size: x-large;
  border-bottom: 1px solid #1d1e1f;
  border-top: 1px solid #1d1e1f;
}

.my-answer-modal{
  min-width: 50%;
}

.my-answer-table{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
