.photo-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-container img{
  width: 270px;
}

.photo-section{
  border: 1px solid #d2d2c1;
  padding: 10px;
  text-align: center;
}

.password-section{
  border: 1px solid #d2d2c1;
  padding: 10px;
}

.info-box{
  border: 1px solid #d2d2c1;
  padding: 10px;
}

.password-input{
  width: 47%;
}

.localization-box{
  border: 1px solid #d2d2c1;
  padding: 10px;
}

.links-box{

}

.central-section-box{
  border: 1px solid #d2d2c1;
  padding: 10px;
  margin-top: 10px;
  min-height: 107px;
}

.events-modal{
  max-width: 100vw;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
