<div class="login-container">

  <div class="upper-container">
      <!--<img class="img-responsive rounded" src="/assets/images/miniLogo.png" />-->
    <div class="logo-box">
      <div class="upper-logo">
        LOVE
      </div>
      <div class="lower-logo">
        <i class="fa fa-heart font-accent"></i>
        ME
      </div>
    </div>
  </div>

  <div class="center-container">
      <gro-login-form></gro-login-form>
  </div>

  <div class="lower-container">
    <h6> <a class="register-link" href="#/register">Jeśli nie masz jeszcze konta, zarejestruj się tutaj </a></h6>
  </div>
</div>
