<div class="full-container">

  <div class="header-part">
    <h3>Ankieta osobowości</h3>
    <h4>W pierwszej części opisz siebie, w drugiej wymarzoną drugą połówkę. Aby wyniki dopasowania były poprawne postaraj się odpowiedzieć na pytania szczerze.</h4>
  </div>
  <div class="main-part">
    <div class="part-left">
      <h4>Opisz siebie</h4>
      <div class="part-one">
        1
      </div>
      <div class="part-two">
        2
      </div>
      <div class="part-three">
        3
      </div>
    </div>
    <div class="part-right">
      <h4>Opisz drugą połowę</h4>
      <div class="part-one">
        4
      </div>
      <div class="part-two">
        5
      </div>
      <div class="part-three">
        6
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
</div>
