.chat-message-padding{
  text-align: right;
  padding-top: 1.5vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

.message-box{
  width: 78%;
  display: inline-block;
}

.button-box{
  width: 20%;
  display: inline-block;
}


.message-input{
  width: 100%;
  height: 9vh;
  resize: none;
  overflow: hidden;
}

.message-send-button{
  width: 100%;
}
