.chat-message-padding{
  text-align: right;
  padding-top: 1.5vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

.message-input{
  width: 100%;
  height: 16vh;
  resize: none;
}

.message-send-button{
  width: 100%;
}
