.register-container{
  text-align: center;
  margin-top: 40px;
}

.form-container{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}
