<div class="row">
  <div class="col-md-3">
    <div class="row chat-contacts">
      <app-chat-contacts [conversationList]="chatService.conversationListSorted" style="width: 100%; height: 100%;"></app-chat-contacts>
    </div>
  </div>
  <div class="col-md-9">
    <div *ngIf="chatService.actualConversation != null">
      <div class="row chat-conversation">
        <app-chat-conversation [secondPerson]="chatService.actualConversation?.secondPerson" [messagesList]="chatService.actualMessageList" style="width: 100%; height: 100%;"></app-chat-conversation>
      </div>
      <div class="row chat-message">
        <app-chat-message style="width: 100%; height: 100%;"></app-chat-message>
      </div>
    </div>
    <div *ngIf="chatService.actualConversation == null">
      Wybierz rozmowę
    </div>

  </div>
</div>
