<div class="contacts-table-wrapper">
  <table class="table table-hover contacts-table">
    <tbody>
    <tr *ngFor="let contact of contacts" (click)="changeConversation(contact)">
      <td class="img-column">
        <img [src]="userPhotoUrl +contact.secondPerson?.profilePhotoId"  class="rounded-circle">
      </td>
      <td class="name-column ">{{contact?.secondPerson?.firstname}}</td>
      <td class="date-column">{{contact.lastMessage?.textMessage | truncate:[20, '...']}}</td>
      <td class="date-column">{{contact.lastMessage?.sendDate |date:'HH:mm:ss dd-MM-yyyy'}}</td>
    </tr>
    </tbody>
  </table>
</div>
