<p>
  Panel widoczny dla uzytkownika posiadajacego prawo USER
</p>
<mat-form-field>
  <input matInput [(ngModel)]="myInput" required [errorStateMatcher]="myErrorStateMatcher">
  <mat-error>This field is required</mat-error>
</mat-form-field>
Field error: {{myErrorStateMatcher}}
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      The <em>best</em> pasta
    </ng-template>
    <h1>Best pasta restaurants</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>thumb_down</mat-icon> The worst sushi
    </ng-template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>
