<div class="content-wrapper">
  <div class="filter-container">

    <div class="events-header-container">
      <h3>Weź udział w nadchodzących wydarzeniach dla singli, aby móc spotkać osobiście swoją drugą połówkę!</h3>
    </div>

    <div class="events-filters-container">
      <span class="search-header">Filtry:</span>
      <mat-form-field class="filter-event-input">
        <mat-select [(value)]="filter.region" (change)="updateCities($event)" placeholder="Województwo">
          <mat-option>Dowolne</mat-option>
          <mat-option *ngFor="let region of regions" [value]="region"  >{{ region.regionName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-event-input">
        <mat-select [(value)]="filter.city" placeholder="Miasto">
          <mat-option>Dowolne</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city" >{{ city.cityName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-event-input">
        <input matInput [matDatepicker]="picker1" [(ngModel)]="filter.dateFrom" placeholder="Data od">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="filter-event-input">
        <input matInput [matDatepicker]="picker2" [(ngModel)]="filter.dateTo" placeholder="Data do">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <button class="btn btn-success" (click)="resetToFirstPage()">
        <i class="fa fa-filter fa-fw"></i>
        Filtruj
      </button>
      <button class="btn" (click)="clearFilters()">
        <i class="fa fa-eraser fa-fw"></i>
        Wyczyść filtry
      </button>
    </div>

  </div>

  <div class="tile-container">
    <div class="card-columns" style="column-count: 4;">

      <ng-container *ngFor="let sd of speedDates">
        <div class="card border-primary one-card" >
          <img class="card-img-top card-img-cust" [src]="eventPhotoUrl+sd.id" (click)="goToEventDetails($event, sd.id)">
          <div class="card-bod card-body-cust" (click)="goToEventDetails($event, sd.id)" style="margin-left: 10px">
            <h4 class="card-title">{{sd.title}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{sd.eventStart | date:'dd-MM-yyyy HH:mm'}}</h6>
            <p class="card-text">{{sd.description}}</p>
          </div>
          <span style="margin-left: 10px">{{sd.localization?.city?.cityName}}, {{sd.localization?.city?.region?.regionName}}</span>
        </div>
      </ng-container>

    </div>
  </div>

  <div class="paginator-container">
    <app-custom-paginator (pageChange)="changePage($event)" [currentPage]="response.pageNo" [elementsCount]="response.elementsCount" [pageSize]="filter.pageSize"></app-custom-paginator>
  </div>
</div>

<!-- Modal do mapy-->
<div class="modal fade" id="event-map" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">MAPA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        MAPA
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


